<!-- <h1>Welcome</h1> -->

<div class="context">
    <h1 class="animate-charcter">Welcome</h1>
<button routerLink="/mybooks" class="glow-on-hover">My Books</button>

</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >